button.close{
    padding: 0;
    cursor: pointer;
    border: 0;
}
.close{
    float: right;
    font-size: 21px;
    line-height: 1;
    color: black;
    opacity: .6;
    
}
.close:hover{
    background-color:grey ;
    color: black;
}