.lmg{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    display: flex;
}
.head{
    color: rgb(98, 98, 116);
    margin-left: 8px;
    
    
    
    
}
.app-logo{
    border-radius: 50px;
    margin: 5;
    vertical-align: middle;
    box-sizing: border-box;
    
}

.text{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold; 
}
